@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p>Projekts, kas pēc manulāli pievienotu resource id ņem datus no data.gov.lv un attēlo tos kā jquery DataTable datus. Piedāvā arī eksportu uz CSV.</p>
</div>
